.ExploreContainer {
    display: flex;
    justify-content: center;
    max-width: 960px;
    margin-top: 90px;
}
.MediaContainer {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    flex-basis: 100%;
    gap: 18px;
}