.Header {
  width: 100%;
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
}
.header-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.input-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}