.inputContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 8px;
    background-color: #fafafa;
    line-height: 1.5;
    border: 1px solid lightgray;
    margin: 6px 40px;
    border-radius: 3px;
    font-size: 12px;
    box-sizing: border-box;
}

.inputContainer input {
    background-color: #fafafa;
    border: none;
}


.inputContainer input:focus {
    outline: none;
}

.togglePass {
    font-weight: 500;
}