.container {
    width: 100%;
    border-top: 1px solid lightgrey;
    height: 54px;
    margin-top: 16px;
    box-sizing: border-box;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.inputContainer img {
    width: 24px;
    height: 24px;
}

.inputField {
    outline: none;
    border: none;
    width: -webkit-fill-available;
    height: 26px;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.postBtn {
    border: none;
    color: #0095f6;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
}