.modalBody {
    padding: 10px;
    border-top: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 8px;
    font-family: inherit;
    overflow-y: scroll;
    box-sizing: border-box;
}
.modalBody > div {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}
.modalBody img {
   height: 50px;
   width: 50px;
   margin-left: 16px;
   border-radius: 50%;
}
.modalBody p {
    margin: 0;
    margin-left: 8px;
    font-size: 18px;
    font-weight: 500;
}
.modalBody button, .chooseFileCont[type=file]::file-selector-button {
    background-color: #0095f6;
    border: none;
    color: white;
    padding: 5px 9px;
    font-weight: 600;
    font-size: 14px;
    font-family: inherit;
    border-radius: 4px;
    cursor: pointer;
    line-height: 18px;
}
.closeX {
    position: absolute;
    width: 20px;
    text-align: center;
    right: 0;
    top: 0;
    padding: 10px;
}
  
.modalBody::-webkit-scrollbar {
    display: block;
    width: 6px;
}
.modalBody::-webkit-scrollbar-track {
    background: transparent;
}
    
.modalBody::-webkit-scrollbar-thumb {
    background-color: #8E8E8E;
    border-radius: 4px;
    border-right: none;
    border-left: none;
}

.modalBody::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

.modalBody::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

.descContainer {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 18px;
    padding: 8px;
}
.chooseFileCont[type=file]::file-selector-button {
    background-color: #8E8E8E;
    margin-top: 10px;
}
.submitUpload {
    margin-top: 20px;
}

.uploadSuccessMsgImg {
    width: 70%;
    height: auto;
}
.uploadSuccessMsg {
    text-align: center;
}
.closeIcon {
    width: 20px;
}
