.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s linear;
    pointer-events: none;
    z-index: 1000;
}

.modal.enter-done {
    opacity: 1;
    pointer-events: visible;
}

.modal.exit {
    opacity: 0;
}

.modal-content {
    width: 33%;
    min-width: 400px;
    height: 75%;
    border-radius: 12px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);
    box-sizing: border-box;
}

.modal.enter-done .modal-content {
    transform: translateY(0);
}

.modal-header {
    padding: 10px;
    height: 42px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
}

.modal-postmodal-header {
    padding: 10px 16px;
    height: 42px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.modal-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    font-family: inherit;
}
.modal-insta-upload-icons {
    height: 75px;
}
.modal-body p {
    margin-top: 12px;
    font-size: 22px;
    font-weight: 300;
}
.modal-body button {
    background-color: #0095f6;
    border: none;
    color: white;
    padding: 5px 9px;
    font-weight: 600;
    font-size: 14px;
    font-family: inherit;
    border-radius: 4px;
    cursor: pointer;
    line-height: 18px;
}
.closeX {
    position: absolute;
    width: 20px;
    text-align: center;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
}
.closeIcon {
    width: 20px;
}

.modal-content-post {
    width: 75%;
    min-width: 800px;
    height: 90%;
    display: flex;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);
    box-sizing: border-box;
}
.modal.enter-done .modal-content-post {
    transform: translateY(0);
}
.modal-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: black;
    box-sizing: border-box;
}
.modal-post-image {
    max-width: 100%;
    max-height: 100%;
}
.modal-side-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.modal-side-header {
    height: 10%;
    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
}
.modal-side-header > p {
    cursor: pointer;
}
.modal-header {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.delete-img{
    cursor: pointer;
}

.modal-side-image-container {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
}
.modal-side-image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.modal-side-header {
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
}
.modal-verified-account {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
.modal-desc-comments {
    display: flex;
    flex-direction: column;
    height: 60%;
    padding: 16px;
    overflow-y: scroll;

}
.modal-desc-comments::-webkit-scrollbar {
    display: none;
  }
.modal-post-desc {
    display: flex;
    gap: 8px;
}
.post-desc {
    display: flex;
    flex-direction: column;
}
.post-desc small {
    font-weight: 600;
    margin-right: 8px;
}
.post-desc p {
    margin: 0;
    margin-top: 6px;
}
.modal-post-comments {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}
.modal-comment-content {
    display: flex;
    align-items: center;
    gap: 8px;
    width:100%;
}
.modal-comment-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
}
.modal-comment-wraper {
    display: flex;
    align-items: center;
    gap: 8px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: initial;
}
.modal-comment-wraper p {
    margin: 0;
}
.modal-comment-comment {
    margin-left: 8px;
    font-size: 14px;
    word-wrap: break-word;
    overflow: hidden;
}
.modal-comment-icon {
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
.modal-comment-user {
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
}
.post-actions {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px ;
    border-top: 1px solid #dbdbdb;
    box-sizing: border-box;
}
.post-stats {
    padding: 8px 16px;
    box-sizing: border-box;
}
.modal-post-likes {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
}
.modal-post-timestamp {
    margin: 0;
    font-weight: 400;
    font-size: 11px;
    color: #a19f9f;
}

.modal-story-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-modal-content {
    margin-top: 500px;
    width: 432px;
    height: 768px;
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);
    box-sizing: border-box;
}