.menuIcons {
    width: 16px;
    height: auto;
    margin-right: 12px;
}
.headerIcons {
    text-decoration: none;
}
.MenuTitle {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif;
    margin: 5px 0;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: black;
}
.MenuItem:hover {
    background-color: #fafafa !important;

}