.main {
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-width:960px;
    min-width: 800px;
    margin-top: 90px;
    justify-content: space-around;
}
.loadingComp {
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
